@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  -webkit-transition: 1s ease;
}

html {
  background-color: #7efff436;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
